@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.6s ease-in-out infinite;
}
